<<<<<<< HEAD
@charset "UTF-8";


body{
    background-color: rgb(175, 231, 173);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(32, 112, 0);
}

h2{
    color: rgb(0, 161, 35);
}

h1#principal{
    text-align: center;
    background-color: rgb(0, 85, 0);
    color: cornsilk;
}

.basico{
    color: rgb(27, 200, 223);
    font-weight: lighter;
}

.intermediario{
    color: rgb(0, 60, 255);
    font-weight: normal;
}

.avancado{
    color: rgb(247, 0, 255);
    font-weight: bolder;
}

.destaque{
    background-color: rgb(223, 223, 130);
}

.destaque2{
    text-align: center;
=======
@charset "UTF-8";


body{
    background-color: rgb(175, 231, 173);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(32, 112, 0);
}

h2{
    color: rgb(0, 161, 35);
}

h1#principal{
    text-align: center;
    background-color: rgb(0, 85, 0);
    color: cornsilk;
}

.basico{
    color: rgb(27, 200, 223);
    font-weight: lighter;
}

.intermediario{
    color: rgb(0, 60, 255);
    font-weight: normal;
}

.avancado{
    color: rgb(247, 0, 255);
    font-weight: bolder;
}

.destaque{
    background-color: rgb(223, 223, 130);
}

.destaque2{
    text-align: center;
>>>>>>> d752b32a0d052878a6496673dcd731c449c09e1b
}